<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hello, Dear @(Model.User.FirstName)
    <p id="email">@(Model.User.Email)</p>

    We got your ticket

</body>
</html>