<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
    <file value="C://Log//log.json" />
    <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
  </appender>
  <appender name="DatabaseLogger" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
    <connectionString value="User ID=qjqxswqywlfufk;Password=bb5b8cc0ff3a8d6bbf7842987df216d23667ca09755fb687d052be67cf3b90e6;Host=ec2-52-3-60-53.compute-1.amazonaws.com;Port=5432;Database=d2emgi1idit262;Pooling=true;SSL Mode=Require;TrustServerCertificate=True;" />
    <commandText value="INSERT INTO Logs ([Detail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />
    <parameter>
      <parameterName value="@logDetail" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@audit" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
  </appender>

  <!--<root>
    <level value="DEBUG"/>
    <appender-ref ref="JsonFileLogger"/>
    
  </root>-->

  <logger name="JsonFileLogger">
    <level value="ALL"></level>
    <appender-ref ref="JsonFileLogger"/>
  </logger>

  <logger name="DatabaseLogger">
    <level value="ALL"></level>
    <appender-ref ref="DatabaseLogger"/>
  </logger>

</log4net>