<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogToConsole="true"
      throwExceptions="true"
      internalLogFile="c:\nlog\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target
      xsi:type="Database"
      name="databaselogger"
      connectionString="User ID=fisixumajozvqq;Password=52484d72b4ee82e5d65870e6cac72265006523d66efb46b9aa45e730d19c7ffd;Host=ec2-3-217-113-25.compute-1.amazonaws.com;Port=5432;Database=d8r6gm0vi2bmqh;Pooling=true;SSL Mode=Require;TrustServerCertificate=True;"
      dbProvider="Npgsql.NpgsqlConnection, Npgsql"
      commandText="INSERT INTO logs (level,message,machinename,logger,email,claims,fullname,methodname,userid,logdetail,logparameters,stacktrace) VALUES (@level,@message,@machinename,@logger,@email,@claims,@fullname,@methodname,@userid,@logdetail,@logparameters,@stacktrace)">
      <parameter name="@userid" layout="${event-properties:UserId}"/>
      <parameter name="@email" layout="${event-properties:Email}" />
      <parameter name="@claims" layout="${event-properties:claims}"/>
      <parameter name="@fullname" layout="${event-properties:FullName}" />
      <parameter name="@methodname" layout="${event-properties:MethodName}"/>
      <parameter name="@logdetail" layout="${event-properties:LogDetail}"  />
      <parameter name="@logparameters" layout="${event-properties:Parameters}" />
      <parameter name="@stacktrace" layout="${event-properties:StackTrace}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />


    </target>

    <target xsi:type="File" name="allfile" fileName="c:\nlog\logs.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownFile-web" fileName="c:\nlog\logs_web.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

  </targets>
  <rules>
    <logger name="databaselogger" minLevel="Info" writeTo="databaselogger" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>