<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogToConsole="true"
      internalLogFile="c:\nlog\internal-nlog-AspNetCore.txt">

  <!-- enable       throwConfigExceptions="true"
 asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target
      xsi:type="Database"
      name="databaselogger"
      connectionString="Server=localhost;Database=AppTestDb;Port=5432;Username=postgres;Password=123456"
      dbProvider="Npgsql.NpgsqlConnection, Npgsql"
      commandText="INSERT INTO nlogs (level,message,machinename,logger) VALUES (@level,@message,@machinename,@logger)">
      <parameter name="@logDetail" layout="${Core.CrossCuttingConcerns.Logging.NLog.Layouts.JsonLayout}"></parameter>
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />


    </target>

    <target xsi:type="File" name="allfile" fileName="c:\nlog\logs.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownFile-web" fileName="c:\nlog\logs_web.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

  </targets>
  <rules>
    <logger name="databaselogger" minLevel="Info" writeTo="databaselogger" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>